<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sheriffman_shadow_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,198}</string>
                <key>spriteSourceSize</key>
                <string>{170,198}</string>
                <key>textureRect</key>
                <string>{{2,2},{170,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sheriffman_shadow.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81b527d47346ab62fa87ae16da9c629e:9ae58a4839cf128503cff45df237a6da:e749fbfcdda0396708f9e7f95fb625a6$</string>
            <key>textureFileName</key>
            <string>sheriffman_shadow.pvr.ccz</string>
        </dict>
    </dict>
</plist>
