<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>militaryman_shadow_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,221}</string>
                <key>spriteSourceSize</key>
                <string>{165,221}</string>
                <key>textureRect</key>
                <string>{{2,2},{165,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>militaryman_shadow.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b619514b131e220e25d2d0ef6457a068:13ecc222932e2646e7f6284d9615b1c4:2e71bbc79b71d812cff4bbc6b7b4eef9$</string>
            <key>textureFileName</key>
            <string>militaryman_shadow.pvr.ccz</string>
        </dict>
    </dict>
</plist>
