<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lyric_fly_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{2,2},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lyric_fly_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{43,2},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lyric_fly_10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{43,2},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lyric_fly_11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{43,2},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lyric_fly_12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{43,2},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lyric_fly_13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{2,2},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lyric_fly_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{37,31}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{84,2},{37,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lyric_fly_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{37,31}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{84,2},{37,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lyric_fly_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{37,31}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{84,2},{37,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lyric_fly_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{37,31}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{84,2},{37,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lyric_fly_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{37,29}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{84,35},{37,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lyric_fly_7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{43,2},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lyric_fly_8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{2,2},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lyric_fly_9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{43,2},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lyric_still_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{2,2},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lyric.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc08f388f001b29db4f0eb020305163b:d8edb620ab45613c1b2be07900330889:b66e42330490e797cf5aeb629e98786b$</string>
            <key>textureFileName</key>
            <string>lyric.pvr.ccz</string>
        </dict>
    </dict>
</plist>
