<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flower_attack_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,180}</string>
                <key>spriteSourceSize</key>
                <string>{57,180}</string>
                <key>textureRect</key>
                <string>{{2,2},{57,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower_attack_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,180}</string>
                <key>spriteSourceSize</key>
                <string>{57,180}</string>
                <key>textureRect</key>
                <string>{{2,2},{57,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower_attack_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,180}</string>
                <key>spriteSourceSize</key>
                <string>{57,180}</string>
                <key>textureRect</key>
                <string>{{61,2},{57,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower_attack_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,180}</string>
                <key>spriteSourceSize</key>
                <string>{57,180}</string>
                <key>textureRect</key>
                <string>{{2,2},{57,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower_attack_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,180}</string>
                <key>spriteSourceSize</key>
                <string>{57,180}</string>
                <key>textureRect</key>
                <string>{{120,2},{57,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>flower.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28234660c79e22a9dd34219e4e5eedf9:8a9ce4ce894e3ac1d15805cdace16097:fc6ec5f07db6d41067262cabc5880e26$</string>
            <key>textureFileName</key>
            <string>flower.pvr.ccz</string>
        </dict>
    </dict>
</plist>
