<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jetbird_fly_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{77,42}</string>
                <key>spriteSourceSize</key>
                <string>{79,44}</string>
                <key>textureRect</key>
                <string>{{2,48},{77,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jetbird_fly_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{77,44}</string>
                <key>spriteSourceSize</key>
                <string>{79,44}</string>
                <key>textureRect</key>
                <string>{{2,2},{77,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jetbird.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bb5732e62802439f11178d7e3b3a96e:9855c963b17b9fd2351ed6679766bf22:80e699f2b2daf2f287f3c1f939bdf723$</string>
            <key>textureFileName</key>
            <string>jetbird.pvr.ccz</string>
        </dict>
    </dict>
</plist>
