<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dolphin_still_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{2,2},{54,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dolphin_swim_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{2,35},{54,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dolphin_swim_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{2,68},{54,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dolphin_swim_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{2,2},{54,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dolphin_wake_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{2,2},{54,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dolphin_wake_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{2,2},{54,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dolphin.pvr.ccz</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2317d1f26d5e50b836d8df5805d7bf4e:23f22f4631aa0895fcc462c6b5bdb4fc:da074608eb752cbd7613b43279c05b52$</string>
            <key>textureFileName</key>
            <string>dolphin.pvr.ccz</string>
        </dict>
    </dict>
</plist>
