<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>roll_runner_walk_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{40,37}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{85,43},{40,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll_runner_walk_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{40,37}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{85,43},{40,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll_runner_walk_10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{2,2},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll_runner_walk_11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{44,2},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll_runner_walk_12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{86,2},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll_runner_walk_13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{44,2},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll_runner_walk_14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{2,2},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll_runner_walk_15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{2,43},{40,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>roll_runner_walk_16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{86,2},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll_runner_walk_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{40,37}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{85,43},{40,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll_runner_walk_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{2,85},{40,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>roll_runner_walk_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{43,43},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll_runner_walk_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{40,37}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{85,43},{40,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll_runner_walk_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{43,43},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll_runner_walk_7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{2,85},{40,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>roll_runner_walk_8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{86,2},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll_runner_walk_9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{2,43},{40,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>roll_runner.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f7cb3e986e79564129696704e4ed849:ccc85249bbd28734603bea25258439af:6b4a0cc000910b0c28115daaf443c613$</string>
            <key>textureFileName</key>
            <string>roll_runner.pvr.ccz</string>
        </dict>
    </dict>
</plist>
