<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nightman_parallax_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{2,2},{256,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nightman_parallax.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e560cf17e05d3aa1051faf60fa2aa12:1e61af75b1b432f2918de2b389f4742f:2a8b4a9a172b713308dfc017ee531d20$</string>
            <key>textureFileName</key>
            <string>nightman_parallax.pvr.ccz</string>
        </dict>
    </dict>
</plist>
