<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cody_shadow_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,181}</string>
                <key>spriteSourceSize</key>
                <string>{203,181}</string>
                <key>textureRect</key>
                <string>{{2,2},{203,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cody_shadow.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82b58cdcb4afa7ccb52c353f8d5b7af6:15456eee7d5688424e60d83b0ced838b:c2b88cadd7538d2efded6d22d2c1fe7b$</string>
            <key>textureFileName</key>
            <string>cody_shadow.pvr.ccz</string>
        </dict>
    </dict>
</plist>
