<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>claw_bullet_shoot_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,11}</string>
                <key>spriteSourceSize</key>
                <string>{24,11}</string>
                <key>textureRect</key>
                <string>{{2,2},{24,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>claw_bullet.pvr.ccz</string>
            <key>size</key>
            <string>{16,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dbeae36558835f47a03753fdaf69548:06eff62b84018c14bd97297973457d65:f753290cef752b5fb043cb4e2a08bf53$</string>
            <key>textureFileName</key>
            <string>claw_bullet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
