<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dross_shadow_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,180}</string>
                <key>spriteSourceSize</key>
                <string>{248,180}</string>
                <key>textureRect</key>
                <string>{{2,2},{248,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dross_shadow.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dff2d4b59673ad0c3eb2fc9c87bc436e:38a8d495bddd4181bba6e11d6d208349:516072390e64ebcda6f1b5f973ce3c40$</string>
            <key>textureFileName</key>
            <string>dross_shadow.pvr.ccz</string>
        </dict>
    </dict>
</plist>
