<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barrel_stand_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{84,43},{39,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barrel_stand_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{39,47}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{43,43},{39,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barrel_stand_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{2,2},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barrel_still_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{84,43},{39,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barrel_walk_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{2,55},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barrel_walk_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{2,2},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barrel_walk_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{43,2},{39,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>barrel.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1183c85bea21c5c6d2b8309f3174bda:4f4c908a5d2bd47ba29f3be6306d07b5:d85a4566d4024c2dc791d7d712552654$</string>
            <key>textureFileName</key>
            <string>barrel.pvr.ccz</string>
        </dict>
    </dict>
</plist>
