<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nightman_shadow_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,182}</string>
                <key>spriteSourceSize</key>
                <string>{165,182}</string>
                <key>textureRect</key>
                <string>{{2,2},{165,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nightman_shadow.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92184afc43e480e80db97281a0e36045:f5b59a3de7c2d258f1bded0d4ca5097c:012177b9817e5b5c5dd0e3fd5c0ea26e$</string>
            <key>textureFileName</key>
            <string>nightman_shadow.pvr.ccz</string>
        </dict>
    </dict>
</plist>
