<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grenade_bullet_shoot_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{2,2},{18,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grenade_bullet_shoot_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{2,22},{18,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>grenade_bullet.pvr.ccz</string>
            <key>size</key>
            <string>{32,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1210f00cc84fe06a21df52d33b35fbe9:dd0b70337e11bbd667c88c80305ffbcf:8a4a56c54b1bc9e62ca5ccdea9136edb$</string>
            <key>textureFileName</key>
            <string>grenade_bullet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
