<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vine_bullet_a_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,8}</string>
                <key>textureRect</key>
                <string>{{2,238},{16,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vine_bullet_b_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{224,2},{20,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vine_bullet_b_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{224,46},{18,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vine_bullet_b_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{224,24},{20,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vine_bullet_b_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{224,2},{20,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vine_bullet_b_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{78,63},{20,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vine_bullet_b_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{224,66},{18,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vine_bullet_c_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{28,23}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{78,2},{28,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vine_bullet_c_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{34,27}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{78,27},{34,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vine_bullet_c_10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,55}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{110,2},{36,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vine_bullet_c_11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,55}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{110,2},{36,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vine_bullet_c_12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,55}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{110,2},{36,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vine_bullet_c_13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,55}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{167,2},{36,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vine_bullet_c_14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,55}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{110,40},{36,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vine_bullet_c_15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,55}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{167,40},{36,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vine_bullet_c_16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,55}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{78,86},{36,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vine_bullet_c_17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,55}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{110,178},{36,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vine_bullet_c_18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,57}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{2,2},{40,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vine_bullet_c_19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,57}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{2,61},{40,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vine_bullet_c_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-12}</string>
                <key>spriteSize</key>
                <string>{36,33}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{78,143},{36,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vine_bullet_c_20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,57}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{42,179},{32,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vine_bullet_c_21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,57}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{44,2},{32,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vine_bullet_c_22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,57}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{44,61},{32,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vine_bullet_c_23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,57}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{44,120},{32,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vine_bullet_c_24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,57}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{76,179},{32,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vine_bullet_c_25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,57}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{2,179},{38,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vine_bullet_c_26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,57}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{2,120},{40,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vine_bullet_c_27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,57}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{2,120},{40,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vine_bullet_c_28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,57}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{2,120},{40,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vine_bullet_c_29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,57}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{2,120},{40,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vine_bullet_c_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{205,124},{36,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vine_bullet_c_30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,57}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{2,120},{40,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vine_bullet_c_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{36,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{205,86},{36,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vine_bullet_c_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,55}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{148,78},{36,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vine_bullet_c_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,55}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{148,116},{36,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vine_bullet_c_7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,55}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{148,154},{36,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vine_bullet_c_8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,55}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{148,192},{36,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vine_bullet_c_9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,55}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{186,192},{36,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vine_bullet.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6955347f97ea0ee92b5e73b08db7b13:8911e9fb907fbaf3f1ecbcbc611a9e3d:63ef5fd3bf0e4bc4d14b1e719eed33b8$</string>
            <key>textureFileName</key>
            <string>vine_bullet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
