<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tremor_laser_charge_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{16,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{96,2},{16,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tremor_laser_charge_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{20,44}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{50,2},{20,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tremor_laser_charge_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{86,38},{32,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tremor_laser_shoot_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{140,46}</string>
                <key>spriteSourceSize</key>
                <string>{144,48}</string>
                <key>textureRect</key>
                <string>{{2,2},{140,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tremor_laser_shot_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{128,34}</string>
                <key>spriteSourceSize</key>
                <string>{144,48}</string>
                <key>textureRect</key>
                <string>{{50,24},{128,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tremor_laser.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41d87c275f3dfa70494ccfe324385a9e:894a86675b47cecaaf0e3d1419f9cedd:444c7fae7338a13a08a36a551c6f890b$</string>
            <key>textureFileName</key>
            <string>tremor_laser.pvr.ccz</string>
        </dict>
    </dict>
</plist>
