<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>taban_fly_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,27}</string>
                <key>spriteSourceSize</key>
                <string>{44,27}</string>
                <key>textureRect</key>
                <string>{{2,2},{42,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taban_fly_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{36,23}</string>
                <key>spriteSourceSize</key>
                <string>{44,27}</string>
                <key>textureRect</key>
                <string>{{2,31},{36,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taban_fly_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,27}</string>
                <key>spriteSourceSize</key>
                <string>{44,27}</string>
                <key>textureRect</key>
                <string>{{2,2},{42,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taban_still_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{30,21}</string>
                <key>spriteSourceSize</key>
                <string>{44,27}</string>
                <key>textureRect</key>
                <string>{{40,31},{30,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taban_wake_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{30,21}</string>
                <key>spriteSourceSize</key>
                <string>{44,27}</string>
                <key>textureRect</key>
                <string>{{40,31},{30,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taban_wake_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{30,21}</string>
                <key>spriteSourceSize</key>
                <string>{44,27}</string>
                <key>textureRect</key>
                <string>{{2,56},{30,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>taban.pvr.ccz</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c4a2b3f27600fe5f96141965ed4c6ff:abecaab5c7ed35173e313fc5c491cbad:feeade78cc9441ace5e4ed363ce2c3de$</string>
            <key>textureFileName</key>
            <string>taban.pvr.ccz</string>
        </dict>
    </dict>
</plist>
