<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>linear_missile_bullet_walk_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,10}</string>
                <key>spriteSourceSize</key>
                <string>{25,10}</string>
                <key>textureRect</key>
                <string>{{2,2},{25,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linear_missile_bullet_walk_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,10}</string>
                <key>spriteSourceSize</key>
                <string>{25,10}</string>
                <key>textureRect</key>
                <string>{{2,14},{25,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linear_missile_bullet_walk_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{17,10}</string>
                <key>spriteSourceSize</key>
                <string>{25,10}</string>
                <key>textureRect</key>
                <string>{{2,26},{17,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>linear_missile_bullet.pvr.ccz</string>
            <key>size</key>
            <string>{32,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fa5de141d9acc22d8c3345b391dac2d:62844743e1a2698db1a0c146bec7de27:56c534fe4329c06db7b8c6b6fb711143$</string>
            <key>textureFileName</key>
            <string>linear_missile_bullet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
