<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cody_parallax_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{2,2},{256,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cody_parallax.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8e2cffe2aab7bf58c8aee7236288d44:0247d9e24eb9fa7c0d2d96c23b80d4fc:657d1c0551982cfbc8777868e36bdde6$</string>
            <key>textureFileName</key>
            <string>cody_parallax.pvr.ccz</string>
        </dict>
    </dict>
</plist>
