<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>violet_bullet_low_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,6}</string>
                <key>spriteSourceSize</key>
                <string>{11,6}</string>
                <key>textureRect</key>
                <string>{{2,2},{11,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>violet_bullet_low.pvr.ccz</string>
            <key>size</key>
            <string>{16,16}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5223848806fd4ab3644472d06789302:300b7e9d668defc09839286bb928cac6:47b0a68b9aa01fc6ab846f47f1ea5d99$</string>
            <key>textureFileName</key>
            <string>violet_bullet_low.pvr.ccz</string>
        </dict>
    </dict>
</plist>
